html.reportThis1{
        -webkit-transform: rotate(360deg)
}
body.reportThis2{
    display: -webkit-box;
    -webkit-box-pack: center;
}

p.dontReportThis{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}